<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>EventHub</title>
  <link rel="stylesheet" href="static/style.css" />
</head>
<body>
  <header class="header">
    <div class="container header-inner">
      <div class="logo">🎟️ EventHub</div>
      <nav class="nav">
        <a href="#events">Events</a>
        <a href="#faq">FAQ</a>
      </nav>
    </div>
  </header>

  <main class="container">
    <section class="hero">
      <h1>Tickets für Schul-Events</h1>
      <p class="sub">
        Alle Events an einem Ort.
      </p>
      <a class="btn" href="#events">Events ansehen</a>
    </section>

    <section id="events" class="section">
      <div class="section-head">
        <h2>Aktuelle Events</h2>
        <p class="small">Demo-Daten (werden später aus Datenbank geladen)</p>
      </div>

      <div class="grid" id="eventsGrid">
        <!-- js -->
      </div>
    </section>

    <section id="faq" class="section">
      <div class="section-head">
        <h2>FAQ</h2>
        <p class="small">Bei weiteren Fragen an support@eventhub.de wenden</p>
      </div>

      <div class="faq">
        <details>
          <summary>Wie kaufe ich ein Ticket?</summary>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
        </details>

        <details>
          <summary>Wie wird geprüft, ob ein Ticket echt ist?</summary>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
        </details>

        <details>
          <summary>Kann ich mehrere Tickets kaufen?</summary>
          <p>DLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
        </details>

        <details>
          <summary>Gibt es Rückerstattungen?</summary>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
        </details>
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="container footer-inner">
      <span>© <span id="year"></span> SchoolTickets</span>
      <span class="small">Demo Version 27.02.2026</span>
    </div>
  </footer>

  <script src="static/main.js"></script>
</body>
</html>